.DS_Store
*.o
*~
*.lis
bin/sacndb
bin/sac
*.pkg
/.cproject
/.project
.settings/**
Default/**
*.a
*.ipch
*.bin
.vscode*
*.wfdisc
*.w
*.sac
src/SeisMgr/dbselect/dbHelpQuery.c
src/SeisMgr/dbselect/dbQuerySL.c
src/icm/oracle/dbFuncs.c
